.ajout-eleve{
    position: absolute;
    left: 260px;
    top: 0px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.form-container {
    display: flex;
    flex-direction: column;
    
    flex-wrap: wrap;
    justify-content: center;
   
    max-width: 60%;
    margin: 10px auto;
    
    
}



.form-container input,select{
    margin: 5px 0px 25px 0;
    padding: 7px 10px;
    font-size: 16px;
    color: #495057;
    border: none;
    width: 100%;
    border-radius: 4px;
    background-color: rgb(217, 231, 244) ;
}

.form-container input:focus,select:focus{
    outline: 2px solid #7f91c5;
}
.form-container select[selected]{
    
    background-color: blue;
    
}

.form-container label{
    font-weight: 600;
}

.form-container h2{
    text-align: center;
    margin-bottom: 20px;
    color: #008aeb;

}

.first-line{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.first-line label{
    display: flex;
    flex-direction: column;
    width: 50%;
    
 
}
.first-line input{
    width: 90%;
}
button{
  text-align: center;
  
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  margin: 0;
}
button a{
    font-size: 18px;
    text-decoration: none;
    display: flex;
  flex-direction: row;
}

.buttons{
    position: relative;
    display: flex;
    flex-direction: row;
   
   width: all;
    
}
.btn-next{
    position: absolute;
    background-color:#1c8ddf;
    border: 1px solid #1c8ddf ;
    right: 0;
    
}
.btn-next a{
   padding: 5px 50px;
     
    color: white;
}
.btn-back{
   border: 1px solid #1c8ddf;
 color:#1c8ddf ;
 
 display: flex;
  flex-direction: row;
}

.btn-back a{
    color: #1c8ddf;
   padding: 5px 25px;
}
.img-previewer{
    width: 100%;
    max-height: 200px;
    border-radius: 5px;
    border: solid 1px grey ;
    padding: 5px 5px;
    margin: 5px 0 25px 0 ;
    background-color: rgb(217, 231, 244);
    font-size: 16px; 
    border: none;
}
.img-previewer input{
background-color: none;
width: 80%;
margin: 5px 5px;

}
.img-previewer img{
    object-fit: cover;
    width: 100px;
    height: 100px;
    margin: 0 10px;
    border-radius: 50px;
}
.star{
    color: #1c8ddf;
    display: inline-block;
    
}
.ajout-avec-succes{
    position: absolute;
    top: 100px;
    right: -100%;
    
    background-color: rgba(0, 128, 0, 0.835);
    width: 300px;
    text-align: center;
    font-size: 18px;
    color: white;
    transition: 1s;
    padding: 5px 10px;
    border-radius: 5px;
    
}
.ajout-show{
    right: 0px;
    
    
}
