body{
    margin: 0;
    padding: 0;
    background-color: rgb(245, 245, 245);
    font-family: "Domine",sans-serif;
    display: flex;
    flex-direction: row;
}
.material-icons{
    margin-right: 10px;
}
.side-bar{
   width: 250px; 
   height: 100vh;
   margin-left: 2px;
   background-color: rgb(255, 255, 255);
   border-right: 1px #e8e9ff solid;
   box-shadow: 0 1px 6px 0 #20212447;
   z-index: 2;
}
.side-bar ul{
    margin: 0;
    padding: 0;
    border-radius: 20px 0px 0 0px ;
    
}
.side-bar ul a{
    text-decoration: none;
}
.side-bar  ul li a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin: 0;
    color: rgb(96, 95, 95);
    font-size: 18px;
    font-weight:500;
    padding: 20px 20px;
    background-color: white;

    transition: .2s;
    /*border-bottom: 1px solid grey;*/
    margin-bottom: 0px;
    height: 30px;
    width:all;
    font-weight: 700;
}

.side-bar ul a:hover,.side-bar ul  .active {
   
   
    color:white;
    background-color: #008aeb;
    border-radius: 5px;
    
}
.logo-wrapper{
    padding: 20px;
    border-radius: 20px 0px 0 0px ;
     display: flex;
    flex-wrap: wrap;
    justify-content: left;
    z-index: 1;
}
.side-bar .logo-wrapper img{
   
    width: 150px;
    
}